name: Update and test flake
on:
  pull_request:
  workflow_call:

permissions:
  contents: read

jobs:
  update-flake:
    runs-on: ubuntu-latest
    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@54081f138730dfa15788a46383842cd2f914a1be # v1.3.1
        with:
          # this might remove tools that are actually needed,
          # if set to "true" but frees about 6 GB
          tool-cache: true

          # all of these default to true, but feel free to set to
          # "false" if necessary for your workflow
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true

      - run: df -h

      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Set up Nix
        uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31

      - name: Update flake.lock file
        run: nix flake update --accept-flake-config

      - name: Run tests + builds for all hosts
        run: |
          # Use --max-jobs 1 to avoid OOM issues on GitHub Actions
          nix flake check --accept-flake-config --max-jobs 1

      - run: df -h
